    .main-div{
        align-items: center;
        background-color: rgb(243, 243, 230);
        border-radius: 1%;
        padding: 3%;
        margin: 3%;
    }
    .small-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: white;
        margin: auto;
        padding: auto;
        border-radius: 2%;
    
    }
    .main-div h1{
        text-align: center;
    }
    .main-div p{
        text-align: center;
    }
    img{
        display: block;
        
    }
    .custom-p{
        width: 100%;
        display: block;
    }
    h3{
        text-align: center;
    }
    a{
        color: aqua;
    }
    body{
        font-family: 'Montserrat', sans-serif;

    }
    .last-div{
        width: 100%;
    }
    #image{
        max-width: 100%;
    }

